.input-container{
  position: relative;
  width: 100%;
}
.input-label{
  position: absolute;
  top: -12px; /* Ajusta distancia vertical */
  left: 10px; /* Ajusta distancia horizontal */
  background-color: $white-color;
  padding: 0 7px;
}

.input-label-blue{
  position: absolute;
  top: -12px; /* Ajusta distancia vertical */
  left: 10px; /* Ajusta distancia horizontal */
  background-color: $blue-sky;
  padding: 0 7px;
  text-shadow: 8px 8px 8ch #fff;
}
.input-s{
  min-height:60px; 
  max-height:fit-content;
  border: 1px solid $grey-light-color;
  border-radius: 5px;
}
.input-textarea{
  border: 1px solid $grey-light-color;
  border-radius: 5px; 
}
.input-textarea-blue{
  border: 1px solid $blue-color;
  border-radius: 5px; 
  background-color:$white-color ;
}

.custom-select {
  padding: 10px;
  border: 2px solid #656565; /* Cambia el color según tu preferencia */
  border-radius: 5px;
  background-color: $white-color; /* Color de fondo */
  font-size: 16px;
  color: #333;
}

.custom-select:focus {
  outline: none; /* Quita el contorno por defecto */
  border-color: #0056b3; /* Color al enfocar */
}

.custom-select option {
  padding: 10px; /* Padding para las opciones */
}